@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9fafb;
  --foreground: #000000;
  --hsbcred: #dc3c28;
  --hsbcreddark: #c93926;
  --hsbcredlight: #fdf7f7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f9fafb;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-hsbc-font);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
